* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body,header {
	height: 100%;
}

html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.nav-wrapper {
	height: 100px;
	display: flex;
	width: 97.5%;
	margin: auto;
	max-width: 1200px;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.topnav {
	display: flex;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	font-size: 1.5rem; 
	transition: 0.3s ease-in;
}

.logo {
	font-size: 2.2rem;
	font-weight: bold;
}

.search {
	background-image: url(../img/loupe.png);
	background-position: 0px center;
	background-repeat: no-repeat;
	-webkit-background-size: 15px 15px;
	background-size: 15px 15px;
	border: none;
	padding-left: 20px;
	font-size: 1.5rem;
	outline: none;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.header {
	background-image: url(../img/telegram.png);
	background-repeat: no-repeat;
	height: calc(100% -100%);
	-webkit-background-size: cover;
	background-position: 50% 30%;
	position: relative;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
    align-items: center;
    color: white;
}

.photo {
	margin-left: 350px;
}

.header:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.header >.box {
	z-index: 1;
	text-align: center;
}

.h1 {
	font-size: 5rem;
	letter-spacing: 1px;
}

.subtitle {
	font-size: 1.6rem;
	letter-spacing: 0.5px;
}

.header-btn, .readmore {
	border: none;
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	display: inline;
	margin-top: 40px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	cursor: pointer;
	transition: 0.3s ease-in;
	border: 2px solid transparent;
	padding-bottom: 3px;
	transition: 0.3s ease-in;
}

.search:focus {
	border-bottom: 1px solid;
}

.header-btn +.header-btn {
	margin-left: 20px;
}

.trsprnt, .readmore {
	border: 2px solid;
	background: transparent;
}

.readmore {
	color: black;
}

.green {
	background-color: #00897b;
}

.first {
	text-align: center;
	padding: 100px 0;
}

.h2 {
	font-size: 4rem;
	margin-bottom: 2rem;
	letter-spacing: 0.7px;
}

.section-subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5;
	max-width: 700px;
	margin: auto;
	letter-spacing: 0.7px;
}

.first-box {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	justify-content: space-between;
	margin-top: 120px;
}

.first-item {
	width: 30%;
}

.h3 {
	font-size: 2rem;
	letter-spacing: 0.7px;
	margin: 2.5rem 0;
}

.search {
	width: 100%;
}

.logo {
	width: 150px;
}

.search-wapper {
	width: 15%;
	margin-left: 5px;
}

.header-btn {
	cursor: pointer;
}

.icon {
	display: block;
	width: 80px;
	margin: auto;
	transition: 0.3s ease-in;
}

.second-item:hover .icon {
	fill: #fff;
}

.second {
	background: #e4fdf9;
}

.second-item {
	width: calc(100% / 3 - 2%);
	background-color: #fff;
	margin: 1%;
	padding: 6% 2%;
	transition: 0.3s ease-in;
}

.second-box {
	flex-wrap: wrap;
	max-width: 1000px;
	justify-content: space-between;
}

.second-item:hover {
	background: #00897b;
	color: #fff;
	transform: scale(1.05);
	box-shadow: 0 0 40px 5px rgba(0,0,0,0.3);
}

.readmore {
	width: 100%;
}

.second-item:hover .readmore {
	border-color: #fff;
	color: #fff;
}

.gq {
	width: 80px;
	height: 120px;
	padding: auto;
	margin: auto;
}
