@media all and (min-width:1150px){
	.trsprnt:hover {
		background: #00897b;
		border-color: transparent;
	}
	.green:hover {
		border:2px solid;
		background: transparent;
	}

	.nav-link:hover {
		background: black;
		color: white;
	}
}

@media all and (max-width: 768px){
    .nav-wrapper {
    	overflow: auto;
    	white-space: nowrap;
    }

    .logo, .search-wrapper, .topnav{
    	display: inline-block;
    }

    .h1 {
    	font-size: 8vw;
    }

    .header-btn {
    	width: 90vw;
    	height: 60px;
    	margin-top: 15px;
    }

    .header-btn +.header-btn {
    	margin-left: 0;
    }

    .section-subtitle {
    	width: 85%;
    }

    .second-item, .first-item {
    	width: 90%;
    	margin: 20px auto;
    	padding-left: 10%;
    	padding-right: 10%;
    }

    .first-box {
    	flex-wrap: wrap;
}
}